<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Menú Principal</h1>
    <div class="button-container">
    <h2>Elija una opción</h2>
    <div class="button-row">
        <a href="/ejercicio1">
            <button class="index-button" style="morado">Ejercicio 1</button>
        </a>
        <a href="/ejercicio2">
            <button class="index-button" style="verde">Ejercicio 2</button>
        </a>
    </div>
</div>

</body>
</html>